<template>
  <div class="footerBar">
      <span class="footerLeft">
          von David Grünhagen, 2019
      </span>
      <div class="footerSpacer"></div>
      <span class="footerRight">
        <span style="color: white;">
          powered by RaspberryPi <i class="fab fa-raspberry-pi"></i>
        </span>
      </span>
  </div>
</template>

<script>
export default {
    name: "Footer"
}
</script>