<template>
  <div class="navbar">
    <nuxt-link class="logoButton" to="/">Twiscord</nuxt-link>
    <nuxt-link class="navButton" to="/">
      <i class="fas fa-home"></i>
      Home
    </nuxt-link>
    <nuxt-link class="navButton" to="/page">
      Page
    </nuxt-link>
  </div>
</template>

<script>
  export default {
    name: 'MenuBar'
  }

</script>
