<template>
<div style="display:flex;flex-direction:column;min-height:100%;">
  <Menu />
  <div class="content">
    <nuxt />
  </div>
  <Footer />
</div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
import '~/static/main.css'
import Menu from '~/components/MenuBar.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    // Logo
    Menu,
    Footer
  }
}
</script>
