
html, body{
  height: 100%;
}

div#__nuxt, #__layout {
  height: 100%;
}

html {
  font-family: Oswald;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: rgb(21, 65, 43);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(216, 216, 216);
}

a:visited {
  color: rgb(216, 216, 216);
}

.container {
  /* margin: 0 auto; */
  min-height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  position: relative;
  top: 60px;
}

.content {
  flex-grow: 1;
}

.textBox {
  /* display: flex; */
  color: rgb(216, 216, 216);
  padding: 10px;
  background-color: rgba(86, 114, 197, 0.2);
  margin: 0 auto 1rem auto;
  width: 90%;
  border-radius: 10px;
}

.textBox:last-child {
  margin-bottom: 40px;
}

.textBox > h1 {
  margin-bottom: 1rem;
}

.textBox > h2 {
  margin-bottom: 20px;
}

.textBox > h3 {
  margin-bottom: 20px;
}

.textBox > h4 {
  margin-bottom: 20px;
  margin-left: 8px;
}

.textBox > p {
  margin-bottom: 15px;
  margin-left: 8px;
}

.navbar {
  background-color: rgb(8, 24, 15);
  padding: 0 10px;
  display: flex;
  margin-bottom: 50px;
  flex-flow: row wrap;
}

.navbar > a {
  line-height: 0;
  height: 0;
  padding: 25px 15px;
  text-align: center;
  text-decoration: none;
  color: rgb(216, 216, 216);
}
.navbar i {
  line-height: 0;
}

.logoButton {
  font-size: 18px;
  font-weight: bold;
}

#__layout > div > div.navbar > a.navButton.nuxt-link-exact-active.active-link {
  background-color: rgb(60, 168, 78);
}

.navButton:active {
  background-color: rgb(60, 168, 78);
}

.navButton:last-child{
  margin-right: 0;
}

.footerBar {
  padding: 15px;
  display: flex;
  background-color: rgb(8, 24, 15);
  margin-top: 50px;  
  font-size: 12px;
}

.footerLeft {
  color: rgb(216, 216, 216);
  width: max-content;
}

.footerSpacer {
  flex: 1;
}

.footerRight {
  max-width: max-content;
  min-width: min-content;
  display: flex;
}

.footerBar a {
  color: rgb(216, 216, 216);
  text-decoration: none;
  padding: 0 .5em;
}

.welcome {
  min-width: min-content;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  /* margin-bottom: 170px; */
  color: rgb(216, 216, 216);
  height: 330px;
  padding-top: 50px;
  background-color: rgba(86, 197, 110, 0.2);
  display: flex;
  flex-direction: column;
}

.welcome > h1 {
  display: inline-block;
  font-size: 65px;
  margin: 0 auto;
}

.welcome > h5 {
  font-size: 18px;
}

.btn {
  padding: 0 20px;
  height: 60px;
  background-color: rgb(60, 168, 78);
  font-size: 25px;
  width: min-content;
  white-space: nowrap;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  color: rgb(216, 216, 216);
  border-radius: 10px;
  margin: auto;
  /* position: relative;
  top: 50px; */
}

.infoCards {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px;
  color: rgb(216, 216, 216);
  position: relative;
  top: 20px;
}

div.infoCards > div {
  width: 350px;
  min-width: 300px;
  text-align: left;
  background-color: rgb(60, 168, 78);
  border-radius: 10px;
  padding: 15px;
  margin: 30px;
}

@media (max-width: 439px) {
  .footerRight {
    flex-direction: column;
  }

  .footerRight a {
    padding: 10px;
  }
}