<template>
  <div>

  </div>
  
</template>

<script>
// import Logo from '~/components/Logo.vue'

export default {
  components: {
    // Logo
  },
  head() {
    return {
      title: 'Startseite'
    }
  }
}
</script>